
/* Main-menu */
.main-menu{
    text-align: left;
    padding: 1.5px;
    padding-left: 2vw;
    padding-right: 2vw;
    background-image: 
      radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgb(81, 155, 92) 100.3% );
    opacity: 0.9;
    border: solid 1.5px darkgreen;
    box-shadow: 0px 0px 10px 2px rgb(145, 160, 112);
    max-height: 8vh;
    align-items: center;
    position: sticky;
    top: 0;display: flex;
  }

  .main-menu-link{
      display: inline;
      margin-right: 4vh;
      font-weight: bold;
      font-size: 3vh;
  }
.main-menu-link:hover{
    color:  rgb(34, 83, 14);
    cursor: pointer;
  
}

  .signin{
position: absolute;
right: 1%;
top: 1%;
  }