/*Dessert section */

.dessert-section{
height: 40vh;
width: auto;

display: flex;
margin:3vw;
padding: 2vh;
align-content: space-around;
overflow: auto;
background: rgb(245, 227, 230);
}

.dessert-section-image{
display: inline-block;
width: 100%;
margin: 1%;

    
}

.dessert-section-image img{
    max-height: 30vh;
}

.dessert-section-image p{
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;
}
.dessert-section-image p:hover{
color: blue;
cursor: pointer;
}

  /* Dessert list */
  .dess-list{
      display:none;
  } 

  .dessert-list-container{
    
    padding-top: 3vh;
     width: auto;
     overflow-x: auto;
     height: 34vh;
     display: flex;
     background: rgb(237, 247, 248);
     padding-left: 5vw;
     padding-right: 5vw;
  }
  
  
  .dessert-card{
    display: flex;
    width: 20vh;
    margin: 1%;
    font-size: 2.5vh;
  }
  .dessert-card:hover{
   border:solid 2px pink;
    cursor: pointer;
}
  
  .dessert-card img{
    width:auto;
    height: 20vh; 
  }
  
  .dessert-card-label{
  font-size: 2vh;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  }
  
  /* Show desserts */
  
  .show-dessert{
    padding-top: 3vh;
    min-height: 34vh;
    display: flex;
    padding-left: 1vw;
    background: rgb(243, 216, 233);
    border:solid 2px rgb(236, 139, 155);
    border-radius: 1rem;
    margin:3%;
    font-size: 1vh;
    overflow: auto;
    width: auto;
  }

  
  .show-dessert img{
    max-height: 32vw;
    border-radius: 1rem;
    border:solid 2px rgb(236, 139, 155);
  }


  
  .middle{
    padding-left: 2vh;
    padding-right: 2vh;
   
  }
  
  .middle h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
  }
  
  .middle h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
    margin-bottom: 2vh;
    color: rgb(230, 109, 179);
    max-width: 30%;
  }
  
  .show-dessert ol {
    overflow-y: auto;
    width: 50%;
  }
  
  .show-dessert li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vh;
  }

  @media screen and (max-width: 420px) 
  {
    .show-dessert{display: inline-block;text-align: center;padding-bottom: 3vh;}
    .show-dessert ol {width: 80vw}
    .middle {width: 80vw;text-align: center;}
    .middle h1 {max-width: 80vw}
  }