.profile-page{
   display:inline-block;
   width: 100%;
    min-height: 72vh;
    font-size: 1.5vh;
    text-align: center;
   background: rgb(241, 231, 212);
    background-size: cover;
    
}

.user-info{
    height: 8vh;
    color: rgb(5, 73, 15);
    padding: 3vh;
}

.user-favourites-list{
   color: red;
  
   height: 60vh;
}