/* Header */
.head{
    background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    padding-bottom: 2%;
    box-shadow: inset 0px 0px 20px 5px  rgb(52, 53, 50);
  }
  
  .header{
    height: 18vh;
    text-align: center;
    padding-top: 4vh;
   margin-bottom: 4%;
   color:black;
  }
  
  .header-main{
  font-size: 6vh;
  margin: 10px;
  font-weight: 650
  }
  

  
 
  @media screen and (min-width: 0px) and (max-width: 400px) {
    .header-p .header-p-sec{
       display: none; }   /* hide it small screens */
  }
  @media screen and (min-width: 401) and (max-width:1024){
    .header-p{
      font-size: 3vh;
      font-weight: 600;
     
    }
    
    .header-p-sec{
      font-size: 3vh;
      font-weight: 600;
      margin-bottom:1%;
    }
  }


  /* Search */
div .search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  form .search-form{
    max-width: 80vw;
    border: none
  }
  
  .search-button{
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%);
    border:solid  2px rgb(27, 27, 27);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: none;
    padding: 1px;
    max-width: 40%;
    size: 10%;
  
  }
  
  .search-input{
  padding: 1px;
  background: transparent;
  border:solid  2px rgb(58, 57, 57);
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  text-align: center;
  font-weight: bold;
  max-width: 50vw;
  }

  .register-link{
    font-weight: bold;
    color:rgb(9, 126, 62);
    font-size: 3vh;
    text-decoration: underline;
  }
  .register-link:hover{
   color: rgb(77, 207, 77);
  }