.login{
   height: 70vh;
    width: 100%;
    display:flex;
   background-color: whitesmoke;
justify-content: center;
}

.log-in-container{
   display:table-column;
   text-align: center;
    max-height: 10vh;
    width: 20h;
  
   
}
.log-in-container h1{
    padding: 4vh;
}

.email-login, .password-login{
font-size: 3vh;    
display: flex;
justify-content: center;
margin: 1.5vh;
}

input.email-login ,input.password-login{
    border: none;
    width: 20vh;
    background: transparent;
    border-bottom: 1px solid darkgreen ;
   
   
}
.submit-login{
    width: 10vh;
    font-size: 3vh;
    background: radial-gradient(circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgb(81, 155, 92) 100.3% );
    border:solid 1px;
    display: inline-flex;
}

.submit-login:hover{
    background: rgb(48, 109, 48);
    cursor: pointer;
}

.login-p{
   align-content: center;
    display: inline;
    font-size: 2.5vh;

}

.register-link{
    font-size: 2.5vh;
}

.auth-error{
    color: red;
    font-size: 3vh;
    display: inline;
    text-align: center;
    margin:3vh;

}


