/* Dropdpwn menu */
.dropbtn {
    background: transparent;
      color: black;
      font-size: 2.5vh;
      border: none;
      width: 15vh;
      position: relative;
      margin: auto 0 auto auto;
      max-height: 5vh;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #9fd6a8;
      min-width: 8vw;
      box-shadow: 0px 8px 16px 0px rgba(3, 26, 7, 0.2);
      z-index: 2;
    }
    
    .dropdown-content option {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: 3vh;
      
    }
    
    .dropdown-content option:hover {background-color: rgb(243, 247, 244);}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #3e8e41;}