
*{
  max-height:100vh ;
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

a{
  text-decoration: none;
  color: inherit;
}
.link{
  color: rgb(231, 188, 80);
}


.app{
  max-height: fit-content;
  
}

div.error{
  max-height: 100vh;
  max-width: 100vw;
  text-align: center;
  padding: 5%;
}

img.error{
  height: 40vh;
}

/* Header */
.head{
  background-image: url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  padding-bottom: 5%;
  box-shadow: inset 0px 0px 20px 5px  rgb(52, 53, 50);
}

.header{
  min-height: 11vh;
  text-align: center;
  padding-top: 4vh;
 margin-bottom: 4%;
}

.header-main{
font-size: 6vh;
margin: 10px;
font-weight: 650
}

.header-p{
  font-size: 3vh;
  font-weight: 600;
 
}

.header-p-sec{
  font-size: 3vh;
  font-weight: 600;
  margin-bottom:1%;
}

/* Search */
div .search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

form .search-form{
  max-width: 80vw;
  border: none
}

.search-button{
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%);
  border:solid  2px darkgreen;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0px 0px 10px 2px rgb(145, 160, 112);
  padding: 1px;
  max-width: 40%;
  size: 10%;

}

.search-input{
padding: 1px;
background: transparent;
border:solid  2px darkgreen;
border-bottom-left-radius: 2rem;
border-top-left-radius: 2rem;
text-align: center;
font-weight: bold;
box-shadow: 0px 0px 10px 2px  rgb(145, 160, 112);
max-width: 50vw;
}

 /* Sort */
.sort-recipes{
text-align: right;
padding: 1.5px;
padding-left: 2vw;
padding-right: 2vw;
background-image: 
  radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgb(81, 155, 92) 100.3% );
opacity: 0.9;
border: solid 1.5px darkgreen;
box-shadow: 0px 0px 10px 2px rgb(145, 160, 112);
max-height: 8vh;
align-items: center;
position: sticky;
top: 0;
display: flex;

}

.select-sort{
  font-size: 80%;
  text-align: left;
  max-height: 7vh;
  border-radius: 0.5rem;
  margin: 2px;
  min-width: 15vw; 
  position: absolute;
right: 0;
 
}

.home-link{
left: 3%;
margin-right: 2vw;
font-weight: bold;
font-size: 3vh;
}

.register-link{
  font-weight: bold;
  color:rgb(9, 126, 62);
  font-size: 3vh;
  text-decoration: underline;
}


/* Dropdpwn menu */
.dropbtn {
background: transparent;
  color: black;
  padding: 1%;
  font-size: 3vh;
  font-weight: bold;
  border: none;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9fd6a8;
  min-width: 8vw;
  box-shadow: 0px 8px 16px 0px rgba(3, 26, 7, 0.2);
  z-index: 2;
}

.dropdown-content option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 3vh;
  
}

.dropdown-content option:hover {background-color: rgb(243, 247, 244);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Recipes list */
.recipes-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:1vh;
  padding-left: 5vw;
  padding-right: 5vw;
  overflow: auto; 
  text-align:justify; 
  height: 100vh;
  border-bottom: solid 2px black;
  margin-bottom: 2%;
}

/* Scrollers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(161, 151, 117);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:  linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%);
  border-radius: 10px;
  border:solid 1px darkgreen;
}

/* Recipe */
.recipe{
width: 20vh;
height: 30vh;
margin: 1vh;
padding: 3vh;
border: solid 2px darkgreen;
border-radius: 1rem;
align-content: center;
text-align: center;
align-items: center;
justify-items: center;
box-shadow: 0px 0px 10px 2px  rgb(118, 133, 87);


}

.recipe-label{
  font-size: 2.5vh;
 height: 35%;
 text-align: center;
 justify-content: center;
}

.recipe-image{
  max-width: 70%;
  max-height: 70%;
  box-shadow: 0px 0px 10px 2px  rgb(145, 160, 112);
  border-radius: 1rem;
}


.cook-it{
  background-image: linear-gradient(62deg, #FBAB7E 0%, rgb(250, 213, 120) 50%);
  border-radius:1vh;
  box-shadow: 0px 0px 10px 2px  rgb(145, 160, 112);
  border: solid 1px black;
  max-width: 50vw;
  height: 4vh;
  align-content: center;
  font-size: 3vh;
  padding: 2px;
}

.show-more{
  margin: 20px;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%);
  border-radius:2vh;
  border: solid 1px black;
  min-width: 9vw;
  max-height: 6vh;
  font-size: 20px;
  padding: 3px;
  align-content: center;
}

/* Show recipe */
.show-recipe{
  text-align: center;
  background: url("https://images.pexels.com/photos/628241/pexels-photo-628241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  height: 70%;
  width:70%;
  position:fixed;
  top:20%;
  right:10%;
  box-shadow: inset 0px 0px 30px 10px  rgb(122, 126, 123);
  border:solid 1.5px rgb(32, 148, 28);
  border-radius: 2rem;
padding: 10px;
}



.show-recipe-header{
  display: flex;
  font-size:100%;
  font-weight: bolder;
  max-height: 11%;
  overflow: hidden;
  text-decoration: underline;
  margin-bottom: 3%;
  justify-content: center;
  text-align: center;
  color:rgb(71, 21, 21);
}


.show-main{
  display: flex;
  justify-content: center;
  height: 50vh;
}

.show-left{
  text-align: center;
  font-size: 10%;
  width: 40%;
  color:rgb(36, 11, 11);
  height: 100%;
  overflow: auto; 
  align-items: center;
}

.show-recipe-calories{
  font-size: 4vh;
}

.show-recipe-wigth{
  font-size: 4vh;
}

.show-right{
  text-align: center;
  align-content: center;
  align-items: center;
  width: 60%;
height: 100%;
padding-left: 3%;

}

.show-recipe-ingredients-ol{
  overflow: auto; 
  text-align:justify; 
  height: 100%;

}
.show-recipe-ingredients{
  text-align: left;
 font-weight: bold;
 font-size: 70%;
 color:rgb(71, 21, 21);
}


.show-recipe-image{
  max-width: 40%;
  max-height: 40%;
  margin-top: 4%;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 3px  rgb(51, 65, 41);
}



.back-to-rec{
  margin: 20px;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%);
  border-radius:2vh;
  border: solid 2px black;
  min-width: 7vw;
  height: 5vh;
  font-size: 3vh;
  align-content: center;
  
}

/* Drinks */

.drinks-header{
 text-align: center;
 margin: 2%;
 max-height: 20vh;
 display: flex;
 border-bottom: solid 2px green;
}
.get-drinks-btn{
  max-height: 4vh;
  margin: 1vh;
  font-size: 100%;
  font-weight: 500;

}
 
.drinks-header-paragraph{
  font-size: 2.5vh;
  text-align: left;
  width: 70%;
  margin-left: 5%;
  margin-right: 20vw;
  overflow: hidden;
}

img.drinks-image{
  max-height:20vh;
  margin-left: 10vw;
}

/* Drinks list */

.drinks-list{
  padding-top: 3vh;
  width: auto;
  overflow-x: auto;
  height: 34vh;
  display: flex;
  background: whitesmoke;
  padding-left: 5vw;
  padding-right: 5vw;
}


.drink-card{
  min-width: 20vh;
  margin: 1%;
  display: inline;
  font-size: 2.5vh;

}

.drink-card img{
  width:auto;
  height: 20vh; 
}

.drink-card-label{
font-size: 2vh;
position: relative;
font-family: 'Times New Roman', Times, serif;
}

/* Show drink */

.show-drink{
  padding-top: 3vh;
  min-height: 34vh;
  display: flex;
  padding-left: 1vw;
  background: whitesmoke;
  margin:3%;
  font-size: 1vh;
}

.show-drink img{
  max-height: 32vh;
}

.middle{
  padding-left: 2vh;
  padding-right: 2vh;
  width: 25vw;
}

.middle h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vh;
}

.middle h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
  margin-bottom: 2vh;
  color: darkgreen;
}

.show-drink ol {
  overflow-y: auto;
}

.show-drink li{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5vh;
}

/* Footer */
.footer{
  display: flex;  
  justify-content: center;
  height: auto;
  background-image:url("https://images.pexels.com/photos/628241/pexels-photo-628241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  box-shadow: inset 0px 0px 20px 3px  rgb(32, 32, 31);
  opacity: 0.9;
  padding: 10px;
  max-height: 10%;
}



.info{
  color: black;
  text-align: center;
}

.info h4{
text-decoration: underline;
 font-size: 4vh;

}

.info div , a {
  font-size: 3vh;
  font-weight: 300;
  text-shadow: 5px 5px 50px 8px  rgb(227, 230, 223);
 
}
